{% extends 'base/base.html' %}

{% load compress %}
{% load staticfiles %}

{% block external %}
  {{ block.super }}

  {% compress css %}
    <link href='{% static "frontpage/less/frontpage.less" %}'
          rel='stylesheet'
          type='text/less'
          media='all'>
  {% endcompress %}
{% endblock %}

{% block content %}
<div class='container'>
  <div class='logo-container'>
    <h1>
      Thank you!
      <small>We will get in touch with you soon</small>
    </h1>
  </div>
</div>
{% endblock %}
